# FentON Demand -- copy to .env and fill in real values

AIRDCPP_PASS=CHANGEME
AIRDCPP_USER=CHANGEME
LAN_SUBNET=CHANGEME
PRIVADO_PASS=CHANGEME
PRIVADO_USER=CHANGEME
QBIT_PASS=CHANGEME
QBIT_USER=CHANGEME
RADARR_API_KEY=CHANGEME
SLSKD_API_KEY=CHANGEME
SLSKD_SOULSEEK_PASS=CHANGEME
SLSKD_SOULSEEK_USER=CHANGEME
SLSKD_WEBUI_PASS=CHANGEME
SLSKD_WEBUI_USER=CHANGEME
SONARR_API_KEY=CHANGEME
